.movie-match-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-height: 12vh; */
}

.accepted-movie-array {
    display: flex;
    overflow-x:auto;
    overflow-y: hidden;
    height: 35vh;
}
.movie-match-buttons {
    display: flex;
    justify-content: center;
}
.movie-rating-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.movie-rating-button-span {
    margin-left: 10px;
    font-size: 2rem;
}