.profile-info {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 2rem;
    width: 20rem;
}

/* .profile-info-details {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 10rem;
    background: linear-gradient(rgb(0, 15, 31), rgb(14, 44, 73), rgb(0, 15, 31));
    padding:10px;
    justify-content: space-between;
} */

.profile-info-icons img {
    border-radius: 10%;
    max-width: 15rem;
}

.username-text {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.update-photo-btn {
    width: fit-content;
    margin: 0.5rem 1rem;
    padding: 0.15rem 0.5rem;
    background-color: rgb(59, 59, 143);
    border-radius: 0.1rem;
    color: white;
    font-size: 0.9rem;
}
.update-photo-btn:hover {
   background-color:  rgb(26, 26, 212);
}

.profile-info-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-info-icons input {
    margin: 0.5rem ;
    width: 12rem;
}
