.movie-thumb-img {
  min-height: 30vh;
  min-width: 21vh;
  max-height: 30vh;
  border-radius: .2rem;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;

}
.movie-thumb-img:hover{
  
}
.movie-thumb-img-background:hover {
  opacity: 1;
  transition: .5s;
  /* box-shadow: 1px 2px 2px rgb(173, 239, 209); */
}

.movie-thumb {
    position: relative;
    /* min-width: 17vw; */
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.movie-thumb-img-background {
  position: relative;
  min-height: 30vh;
  min-width: 21vh;
  background: linear-gradient(0.25turn, rgba(24, 24, 24, 0.95), rgba(235, 248, 225, .6), rgba(24, 24, 24, 0.95));;
  z-index: 10;
  opacity: 0;
  text-align: center;
}


.btn {
  text-align: center;
} 
.hidden-background {
  background-color: transparent;
  border: none;
  font-style: italic;
  font-weight: 100;
}
