.friend-icon {
 align-self: center;
 display: flex;
 justify-content:space-between;
 width: 95%;
 background-color: rgb(41, 41, 75);
 border-radius: 10px;
 margin-top: 5px;
 height: 55px;
 overflow:hidden;
 text-overflow: ellipsis;
}

.friend-icon img {
    object-fit: scale-down;
    max-width: 55px;
    border-radius: 10px;
}

.friend-icon p {
    max-width: 100%;
    max-height: 25px;
    margin-left: 5px;
    text-align: left;
    text-overflow: ellipsis;

}

.online-status {
    align-self: flex-end;
    background-color: rgb(68, 205, 50);
    margin-bottom: 4px;
    margin-right: 4px;
    min-height: 8px;
    min-width: 8px;
    border-radius: 100%;
}
.offline-status {
    align-self: flex-end;
    background-color: rgb(88, 88, 88);
    margin-bottom: 4px;
    margin-right: 4px;
    min-height: 8px;
    min-width: 8px;
    border-radius: 100%;
}

.user-icon-buttons button{
  max-width: fit-content;
  font-size: .8rem;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
  margin-left: 4px;
  background-color: rgb(69, 69, 131);
  color: white;
  transition: 0.35s;
}

.user-icon-buttons button:hover {
    background-color:rgb(26, 26, 212) ;
}

.user-icon-buttons button:active {
    background-color: rgb(41, 41, 75);
    color: white;
}

.user-icon-middle {
    text-align: left;
    width: 100%;
    max-height: 49%;
}
