.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 15, 31);
  color: rgb(173, 173, 173)
}
 
.hidden-background {
  background-color: transparent;
}

.outlet {
  margin-top: 80px;
}