:root {
  --toastify-color-progress-dark: #0d1fbe !important;
   --toastify-color-dark: #121212;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 15, 31);
  color: rgb(173, 173, 173)
}
 
.outlet {
  margin-top: 80px;
}
.enlarge-on-hover:hover {
  transition: .2s;
  transform: scale(1.15);
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}