.user-search input {
    border-radius: 5px;
    margin: 5px 2px 2px 2px;
    width: 98%;
}

.user-icons {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.search-bar {
    padding-left: 10px
}