.recent-activity {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.no-activity-landing {
    margin-top: 2rem;
    border: 2px solid grey;
    background-color: rgba(128, 128, 128, 0.568);
    padding:  2rem 4rem;
    border-radius: 0.5rem;
}