.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 15, 31);
  color: rgb(125, 249, 255);
}
.btn {

} 
.hidden-background {
  background-color: transparent;
}