.movie-thumb-img {
  height: 30vh;
  width: 21vh;
  border-radius: .2rem;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;

}

.movie-thumb-img-background:hover {
  opacity: 1;
  transition: .5s;
  /* box-shadow: 1px 2px 2px rgb(173, 239, 209); */
}

.movie-thumb {
    position: relative;
    /* min-width: 17vw; */
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.movie-thumb-img-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 30vh;
  width: 21vh;
  background: linear-gradient(0.25turn, rgba(24, 24, 24, 0.95), rgba(0, 73, 182, 0.6), rgba(24, 24, 24, 0.95));;
  z-index: 10;
  opacity: 0;
  text-align: center;
}


.btn {
  text-align: center;
} 
.hidden-background {
  background-color: transparent;
  border: none;
  font-style: italic;
  font-weight: 100;
}
.movie-thumb-title {
  color:white;
  font-size: 1.2rem;
}

/* .enlarge-on-hover:hover {
  transition: .2s;
  transform: scale(1.25);
} */
