.friend-search input {
    border-radius: 5px;
    margin: 5px 2px 2px 2px;
    width: 98%;
    position: sticky;
    top: 5vh;
}

.friend-icons {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.search-bar {
    padding-left: 10px;
}

.search-bar-container {
    border-radius: 5px;
    width: 98%;
    position: sticky;
    top: 0;
    background-color: rgb(0, 15, 31);
}