.friend-button {
    background-color: white;
}

.friend-button button {
    align-self: center;
    margin: 5px 2px 2px 2px;
    width: 98%;    background-color: navy;
    border-radius: 5px;
    padding: 2px
}

.friend-button button:hover {
    background-color: white;
    color:navy;
}

.friend-button button:active {
    background-color: navy;
    color:white;
}