.search-bar {
    margin-top: 10px;
    margin-right: 30px;
}

.search-bar input {
    padding: 4px;
    border-radius: 4px;
}

.search-results {
    position: absolute;
    background-color: white;
    color:black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 50px;
    margin-right: 200px;
    max-height: 200px;
    overflow-y: auto;
}

.search-result {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.search-result p:hover{
    cursor: pointer;
}

.search-result-title {
    max-width: 400px;
    text-overflow: ellipsis;
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}