.activity-card {
    display: flex;
    justify-content: flex-start;
    /* background-color: grey; */
    background: linear-gradient(rgb(0, 15, 31), rgb(0, 0, 92), rgb(0, 15, 31));
    width: 60vw;
    margin: 15px;
    border-radius: 10px;
    color: white
}

.activity-card img {
    border-radius: 10px;
}

.activity-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}