.activity-card {
    display: flex;
    justify-content: flex-start;
    background-color: grey;
    width: 60vw;
    margin: 15px;
    border-radius: 10px;
    color: white
}

.activity-card img {
    border-radius: 10px;
}

.activity-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}